$primary-cores-normal:#06121e;
$primary-cores-dark:#040f1a;
$primary-cores-light:#0c2135;

$secundarias-normal: #090d11;
$secundarias-dark: #06090c;
$secundarias-light: #1a1f25;

$dark-escura-normal: #232224;
$dark-escura-dark:#161617;
$dark-escura-light:#353436;

$white-branco-normal: #fff;
$white-branco-dark:#edeaef;
$white-branco-light:#fefbff;

$red-normal: #d94140;
$red-dark: #b42b2b;
$red-light: #d34040; 