
.conteiner {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8px;
}

//Bg Home
.bg-home { 
    position: relative;
}

.bg-home::before{
    content: '';
    display: block;
    position: absolute;
    // background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1),#7d9bb9), url("/assets/imgagen_fundos.png");
    background-image: linear-gradient(to bottom, rgba(253, 253, 255,),#fdfdfd);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    opacity: 0.9;
}
.header-icons {
    color: #5c1717;
}

//--------------------------------------------------------------------------------------------
// Hero

.hero {
    color: #110101;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
    h1 {
        text-align: center;
        line-height: 150%;
        max-width: 940px;
        font-size: 46px;
    }
    p{
        text-align: center;
        margin: 14px 0;

    }
    // img {
    //     padding: 0.1%;
    //     width: 300px;
    //     // height: 100px;
    //     margin-bottom: 0px;
    //     margin-right: 300px ;
    //     position: absolute;
    //     min-width: 25vh;
    //     // flex-wrap: wrap;
    // }
    
}
 .image-ligia {
     padding: 0.1%;
     width: 709px;
     margin-left: 55%;
    position: absolute;
    // flex-wrap: wrap;
 }
// @media screen and (max-width: 768px) {
//     .image-ligia  {
//        min-width: 60vh;
//        font-size: 14px;
//        padding: 0 14px;
//        width: 100%;
     
//     }
    
// }


.buttom-contact{
    padding: 14px 28px;
    color: #fff;
    background-color: #d94140;
    border: 0;
    font-size: 18px;
    font-weight: 600;
    margin: 14px 0;
}

.buttom-contact:hover {
    animation: scaleButton 0.8s alternate infinite;
}

@keyframes scaleButton { 
    from {
        transform: scale(1);

    }
    to{
        transform: scale(1.07);

    }
}
@media screen and (max-width: 768px) {
    .hero {
      min-width: 60vh;
      h1 {
        font-size: 14px;
        padding: 0 14px;
        width: 100%;
      }
      p{
        font-size: 14px;
      }
    //   .image-ligia  {
    //     min-width: 60vh;
    //     width: 50%;
    //     align-items: center;
    //   flex-direction: column;
    //  }
    }

    
}
@media screen and (max-width: 480px){
    
    .hero h1{
        flex-direction: columns;
        font-size: 24px;

    }
    img {
       max-width:300px;
       margin-left: 200px;
       align-items: center;
       padding: 20px;
       margin-top: 390px;
       
     }
    }
   

 //-------------------------------------------
 //----------------Sobre---------------------
 
//  .about{
//     background-color: #06121e;
//     overflow: hidden;
//     color: #fff;
//  }


//  .about-content {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     gap: 14px;
//     padding: 34px 14px 64px 14px;
//     img{
//         max-width: 570px;
//     }
//  }


// .about-content div{
//     flex: 1;
// }



// .about-description {
//     h2{
//         font-size: 24px;
//         margin-bottom: 24px;
//     }
//     p{
//         margin-bottom: 14px;
//         line-height: 150%;
//     }
// }



// @media screen and (max-width: 480px){
//     .about-content{
//         flex-direction: column;
//     }

// }


//--------------------------------------------

// services

.services {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
}

.services-content h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 14px;
}

.services-content p {
    line-height: 150%;
    margin-bottom: 14px;
    text-align: center;
    max-width: 780px;
    font-size: 30px;
    //color: #fff;
}
.hairCuts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 0 4px 3px 10px;
}
.hairCut{
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff ;
    border-radius: 8px;
    // box-shadow: 0px -1px 17px -4px rgba($color: #000000, $alpha: 1.0);
    overflow: hidden;
    img{
        width: 100%;
        max-width: 354px;
        transition: transform 0.2s;
    }
}
.hairCut img:hover{
    transform: scale(1.2);
    z-index: 1;
}
.hairCut-info{
    width: 100%;
    display: flex;
    //align-items: center;
    justify-content: space-between;
    padding: 14px;
    background-color: #fff;
    z-index: 99;
}
.hairCut-info button {
    color: #fff;
    background-color: #d94140;
    padding: 4x 8px;
    border-radius: 4px;
    border: 0;
    cursor: default;
}
@media screen and (max-width: 768px) {
    .hairCuts{
        flex-direction: column;
    }
    
    .hairCut img {
        max-width: 740px;
    }
}
//---------------------------------------

//FOOTER RODA PE

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0;
    gap: 24px;
    color: #fff;
}
.footer-icons{
    display: flex;
    gap: 8px;
}
//--------btn-whatsapp------

.btn-whatsapp{
    position: fixed;
    bottom: 014px;
    right: 24px;
    z-index: 99;

    img{
        max-width: 74px;
        transition: transform 0.4s;
    }
    img:hover{
        transform: scale(1.2);
    }

}
.btn-whatsapp .tooltip-text{
    visibility: hidden;
    position: absolute;
    width: 120px;
    top: 8px;
    left: -150px;
    background-color: #000000;
    color: #fff;
    padding: 4px;
    border-radius:8px ;
    text-align: center;
    opacity: 0;
    transition: opacity 0,10s;
}

.btn-whatsapp:hover .tooltip-text{
    visibility: visible;
    opacity: 1;
  
}
@media screen and (max-widht: 768px) {
    .btn-whatsapp{
        img{
            max-width: 64px;
        }
    }
    
}
// fim Whatssapp

// comeco cadastro
.cadastro-cliente{
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    background-color: #d94140;
    margin-left: 50% 20%;
   
}
form{
    display:flex;
    padding: 50px;
}
.box {
    width: 200px;
    align-items: center;
    background-color: #5c1717;
    display: flex;
    margin: 0 500px 0 ;
    top: 50%;
    left: 50%;
    // transform: translate(-50% -50%);

}
